{% extends 'layouts/app.twig' %}

{% block title %}New User{% endblock %}


{% block content %}
  {% if flash.getMessage('error').0 %}
    <strong>
      {{ flash.getMessage('error').0 }}
    </strong>
  {% endif %}

  <h3>Register new user</h3>
  {% if errors %}
    <div class="help-block">
      <ul>
        {% for error in errors %}
          {% for message in error %}
            <li>{{ message }}</li>
            {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form action="{{ path_for('auth.signup') }}" method="POST">
    Username <br />
    <input type="text" name="username" value="{{ old.username }}"/>
    <br />
    Email <br />
    <input type="email" name="email" value="{{ old.email }}"/>
    <br />
    Password <br />
    <input type="password" name="password" />
    <br />
    <input type="submit" value="Register">

    {{ csrf.field | raw }}
  </form>
{% endblock %}
