{% extends 'layouts/app.twig' %}

{% block title %}Todos{% endblock %}

{% block content %}
  <h1 class="text-center">Todos <small>{{ done_todos }}/{{ todos | length }}</small></h1>


  {% if todos is defined %}
    <ul class="list-group">
      <form action="">
      {% for todo in todos %}
        {% if todo.todo_done == 1 %}
          <li class="todo-item list-group-item item-done disabled" data-todo-id="{{ todo.todo_id }}" data-todo-link="{{ path_for('todos.post.setundone') }}">
            <input name="" type="checkbox" value="" checked/>
            <span class="todo-description item-done">{{ todo.todo_description }}</span>
            <img class="img-spinner" src="{{ base_url() }}/img/icons/spin.gif" alt="" />
          </li>
        {% else %}
          <li class="todo-item list-group-item" data-todo-id="{{ todo.todo_id }}" data-todo-link="{{ path_for('todos.post.setdone') }}">
            <input name="" type="checkbox" value=""/>
            <span class="todo-description">{{ todo.todo_description }}</span>
            <img class="img-spinner" src="{{ base_url() }}/img/icons/spin.gif" alt="" />
          </li>
        {% endif %}
      {% endfor %}
      </form>
    </ul>
  {% else %}
    <p>You don't have any todos yet. Add todos below.</p>
  {% endif %}

  <form class="form-horizontal" action="{{ path_for('todos.create') }}" method="POST">
    <div class="col-sm-10">
      <input class="form-control" type="text" name="description" placeholder="E.g. {{ todo_message | lower }}" />
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" value="Add">Add</button>
    </div>
  </form>
  <script src="{{ base_url() }}/js/todo.js"></script>
{% endblock %}
