{% extends 'layouts/app.twig' %}

{% block title %}Todos{% endblock %}

{% block content %}
  <h1 class="text-center">Todos</h1>


  {% if todos is defined %}
    <ul class="list-group">
      {% for todo in todos %}
        {% if todo.todo_done == 1 %}
          <li class="list-group-item item-done disabled">{{ todo.todo_description }}
            <small><a class="mark-link" href="{{ path_for('todos.setundone', { id: todo.todo_id }) }}">Mark as not done</a></small>
          </li>
        {% else %}
          <li class="list-group-item">{{ todo.todo_description }}
            <small><a class="mark-link" href="{{ path_for('todos.setdone', { id: todo.todo_id }) }}">Mark done</a></small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <p>You don't have any todos yet. Add todos below.</p>
  {% endif %}

  <form class="form-horizontal" action="{{ path_for('todos.create') }}" method="POST">
    <div class="col-sm-10">
      <input class="form-control" type="text" name="description" placeholder="E.g. {{ todo_message | lower }}" />
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-block" value="Add">Add</button>
    </div>
  </form>
{% endblock %}
