<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path_for('home') }}">todo-app</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle menu-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path_for('home') }}">Home</a></li>
          <li role="separator" class="divider"></li>          
          <li><a href="{{ path_for('todos.index') }}">Todos</a></li>
          <li role="separator" class="divider"></li>
          {% if auth.check %}
            <li><a href="{{ path_for('user.profile') }}">Profile</a></li>
            <li><a href="{{ path_for('auth.signout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ path_for('auth.signin') }}">Login</a></li>
            <li><a href="{{ path_for('auth.signup') }}">Register</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
    {% if auth.user is not empty %}
      <p class="nav-username hidden-xs">
        <a href="{{ path_for('user.profile') }}">[{{ auth.user.user_name }}]</a>
      </p>
    {% endif %}
  </div>

</nav>
